@model Movies.ViewModels.MovieViewModel

@{
    ViewData["Title"] = "Movie Details";
}

<h1>@Model.Title</h1>

<div>
    <hr />
    @{
        await Html.RenderPartialAsync("DetailsPartial", Model);
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<br />
<br />
<div>
    <h4>Availible sessions:</h4>
    @{
        await Html.RenderPartialAsync("SessionsTable", Model);
    }
</div>
