@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>View availible sessions here!</p>
    <a href="/Session/Index"><button>Sessions</button></a>
</div>
