html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.unav_session{
    color: gray;
}

input[type=radio] {
    padding: 20px;
    -webkit-appearance: none;
    outline: unset;
    background-color: lightgray;
}

input[type=radio]:checked {
    display: inline-block;
    background-color: green;
    accent-color:green;
}

input[type=radio]:disabled {
    display: inline-block;
    background-color: red;
    accent-color: red;
}

td{
    padding:0px 3px;
}