@model IEnumerable<Movies.ViewModels.MovieViewModel>

@{
    ViewData["Title"] = "Sessions";
}

<h1>Sessions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var movie in Model)
{
    <h3><a href="/movies/Details/@movie.Id">@movie.Title</a></h3>
    <details>
        <summary></summary>
        <br />
        <div>
            <h4>Availible sessions:</h4>
            @{
                await Html.RenderPartialAsync("SessionsTable", movie);
            }
        </div>
        <br />
    </details>
    <br />
}
