@model Movies.ViewModels.PurchaseViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Purchase</h4>
    <hr />
    @{
        await Html.RenderPartialAsync("DetailsPartial", Model);
    }
</div>
<div>
    <h2>Tickets</h2>
    @{
        await Html.RenderPartialAsync("PurchasedTickets", Model);
    }

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PurchaseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
